*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
    --second-color : #F1B24A;
    --font-title :'Montserrat', sans-serif;

    
}

::placeholder {
    color: white;
    font-family: Inter,sans-serif;
}
/* --- START CSS HEADER --- */
body{
    background-image: linear-gradient(to right top, #164a41, #326856, #518869, #75a87b, #9dc88d);
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
header a{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;

}
#menu-icon{
    display: none;
}
.menu a {
    padding: 12px 25px;
}
.menu{
    display: flex;
}
.menu ul li a{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0 ;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a{
    padding: 5px 0;
    margin: 0px 10px;
}
.logo{
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
}
header span{
    color: var(--second-color);
}

header a:hover{
    color: var(--second-color);
    transition: all 0.5s ease;
    transform: translateY(5px);
}
.active {
    color: var(--second-color);
    font-style: inherit;
    border: 1px solid;
    border-radius: 8px;
}
a.active:hover {
    background-color: #9DC88D;
    transition: all 1s ease-out;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
}
i.ri-home-heart-fill {
    vertical-align: text-top;
    color: var(--second-color);
    padding: 15px;
}
#menu-icon {
    font-weight: 600;
    font-size: x-large;
    cursor: pointer;
    color: white;
    font-size: xx-large;
}



/* --- END CSS HEADER --- */

/* --- START CSS MAIN --- */
.main-top .left-h1-main{
    font-family: var(--font-title);
    font-size: 3.75rem;
    line-height: 1.166;
    letter-spacing: -.01em;
    font-weight: 700;
    color: var(--text-color);
    transform: translateZ(0) scale(1);
}
.left-main {
    max-width: 640px;
}
.main-top {
    display: flex;
    margin: 5em 0;
    justify-content: space-evenly;
}
.up-learn-more {
    display: inline-block;
    border-radius: 9999px;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.up-learn-more i{
    color: var(--text-color);
    font-weight: 700;
    line-height: 18px;
}
.up-learn-more a {
    color: #9DC88D;
    font-size: 14px;
    font-weight: 500;
}
.left-btn-main{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-explore {
    padding: 10px 0 10px 20px;
    border-radius: 25px;
    color: white;
    margin-left: 10px;
    font-family: Inter,sans-serif;
    box-shadow: none;
    font-weight: 600;
    border: 1px solid #9DC88D;
    box-shadow: 0 0 10px #9dc88d;
}
.btn-start {
    padding: 10px 0px 10px 20px;
    border-radius: 25px;
    color: white;
    font-family: Inter,sans-serif;
    font-weight: 600;
    box-shadow: none;
    text-size-adjust: 100%;
    border: 1px solid var(--second-color);
    box-shadow: 0 0 10px var(--second-color);
}
main i{ 
    vertical-align: text-top;

}
.btn-start i {
    color: white;
    font-weight: 700;
    background-color: var(--second-color);
    padding: 11.7px;
    border-radius: 50px;
}
.btn-explore i{
        color: white;
        font-weight: 700;
        background-color: #9DC88D;
        padding: 11.7px;
        border-radius: 50px;
}
main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.left-p-main{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Inter,sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.right-main.contact-us {
    width: 50%;
}
form {
    width: 50%;
    margin: 0 auto;
    text-align: -webkit-center;
  }
  
  .right-main input, textarea {
    width: 100%;
    padding: 0.7em;
    box-sizing: border-box;
    margin: 15px 0;
    border-radius: 4px;
    box-shadow: none;
    font-family: Inter,sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}
  
  .right-main button[type="submit"] {
    background-color: #518869;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 30px;
    box-shadow: none;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    
  }
  textarea:focus, input:focus{
    outline: none;
    border-color: #fda829;
    
}
  .right-main button:hover {
    background-color: var(--second-color);
    transition: all 0.5s ease;
}
.title-contact {
    font-family: var(--font-title);
    font-size: 3em;
    line-height: 1.166;
    letter-spacing: -.01em;
    font-weight: 700;
    color: var(--text-color);
    transform: translateZ(0) scale(1);

    
}
ul.menu.open {
    z-index: 1;
}
/* --- END CSS MAIN --- */


/* --- START RESPONSIVE PAGE --- */
@media(max-width : 1280px) {
    header {
        padding: 14px 2%;
        transition: 0px 20px;
    }

}

@media (max-width : 1090px){
    .active {
        border: none;
    }
    #menu-icon{
        display: block;
    }
    header{
        justify-content: space-between;
        position: relative;
    }
    .menu {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: auto;
        background-image: linear-gradient(to right top, #164a41, #326856, #518869, #75a87b, #9dc88d);
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        text-align-last: center;
        border-radius: 10px;
    }
    .menu a{
        display: block;
        margin: 12px 0;
        padding: 0 15px;
        transition: all .50s ease;
    }
    .menu a:hover{
        color: var(--second-color);
        transform: translateY(5px);
    }
    .active {
        color: var(--second-color);
        font-style: inherit;
    }
    .menu li {
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid white;
    }
    .menu.open {
        right: 2%;
        display: block;
        transition: all 2s ease;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }
    .main-top {
        flex-direction: column;
    }
    .left-main {
        max-width: 100%;
    }
    .right-main.contact-us {
        width: 100%;
        margin: 30px 0;
    }
    form {
        width: 100%;
    }
    .right-main button[type="submit"] {
        width: 100%;
    }
}
@media (max-width: 800px){
    .up-learn-more {
        padding: 0px;
    }
    h1.left-h1-main {
        font-size: 3.25rem;
    }
    .left-btn-main {
        justify-content: space-around;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    a.btn-start {
        width: 100%;
    }
    a.btn-explore {
        margin: 10px 0;
        width: 100%;
        padding: 0 0 0 15px;
        display: flex;
        justify-content: space-between;
    }
    .main-top {
        margin: 0;
    }
    span.title-contact {
        font-size: 2.2em;
    }
    h1.left-h1-main {
        font-size: 3.25em;
    }
    .btn-start {
        padding: 0 0 0 15px;
        display: flex;
        justify-content: space-between;
    }
}

/* --- END RESPONSIVE PAGE --- */